@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --cor0: #DBC9FF;
    --cor1: #B98CFC;
    --cor2: #A050D9;
    --cor3: #8241B0;
    --cor4: #5E2A87;
    --cor5: #3A235E;
    --cor6: #130B1F;
    --cor7: #dbc9ff2d;

    --fonte-principal: "Poppins", cursive;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons {
    color: var(--cor0);
}
body {
    font-family: var(--fonte-principal);
    background-color: var(--cor6);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--cor6);
}

header .icone-titulo {
    color: var(--cor0);
    font-size: 56px;
    margin: 10px;
    border-radius: 25px;
}

header .icone-titulo:hover {
    color: var(--cor3);
    background-color: #dbc9ff2d;
    transition-duration: 0.8s;
}

nav {
    float: inline-end;
    margin-top: 20px;
    padding-right: 120px;
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

nav > a:hover {
    color: var(--cor3);
    background-color: #dbc9ff2d;
    transition-duration: 0.8s;
}

main {
    background-color: var(--cor6);
    padding: 20px;
    text-align: left;

    min-width: 320px;
    max-width: 1290px;
    margin: auto;
    margin-bottom: 30px;
}

main p {
    color: var(--cor0);
    font-size: 3em;
    max-width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-bottom: 30px;
}

#pag1 {
    text-align: center;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    border-radius: 50px;
    background-color: var(--cor7);
}

#pag1 a {
    font-size: 48px;
    color: var(--cor0);
    padding: 10px;
    max-width: 600px;
}

#pag1 a:hover {
    color: var(--cor3);
    border-radius: 20px;
    transition-duration: 0.3s;
}


footer {
    font-family: var(--fonte-padrao);
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
    color: var(--cor0);
    background-color: var(--cor6);
}