@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --cor00: #d9f9ff;
    --cor01: #00D4FF;
    --cor02: #090979;
    --cor03: #020024;
    --cor04: #010014;
    --cor05: #9cb0b6;
    --cor06: #e95299;
    --cor07: #e6c4d4;
    --cor08: #f0e6e4;


    --fonte-principal: "Poppins", cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif, Verdana;


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
}

body {
    font-family: var(--fonte-principal);
    color: var(--cor04);
    background-color: #fff;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 80px;
    border-bottom: 1px solid ;
}

.cabecalho .logo{
    font-size: 46px;
}

.botoes:hover {
    color: var(--cor01);
    cursor: pointer;
}

.conteudo {
    margin: 10px 120px 20px 120px;
}

.sobre-mim {
    display: flex;
    padding: 20px 28px;
    border-bottom: 1px solid var(--cor04);
}

.sobre-mim .informacoes {
    padding-right: 16px;
}

.informacoes p {
    padding: 5px 0px 0px 5px;
}

.sobre-mim .foto {
    width: 340px;
}

.inf-projetos{
    text-align: center;
    padding-bottom: 16px;
}

#projetos {
    display: flex;
    gap: 30px;
    padding: 20px 28px;
    border-bottom: 1px solid var(--cor04);
}

#projetos .inf-projetos {
    width: 600px;
    text-align: left;
}

.inf-projetos .logo-ling {
    width: 120px;
    padding: 10px;
    align-items: center;
}

.inf-projetos .logo-js {
    width: 114px;
    padding: 10px;
}

#projetos .projeto {
    padding: 10px;
    border: 1px solid;
    border-radius: 16px;
}

#projetos .projeto {
    margin-bottom: 5px;
}

#certificados {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

#certificados .material-icons:hover {
    color: var(--cor01);
}

.conteudo .txt-certificado{
    text-align: center;
    padding: 20px 28px;
}

#certificados #cert-html-css {
    display: flex;
    gap: 5px;
}
.rodape {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}